{{!-- one day maybe this works @hbsvariable name="" type="uy.kohesive.kovert.template.freemarker.test.PeopleResults" --}}
<html>
<body>
{{#persons}}
    <div>{{name}}: {{age}}</div>{{/persons}}
</body>
</html>